@{ 
    Layout = null;
}
<div class="Root__main-view">
    <div class="main-view-container">
        <div class="under-main-view"></div>
        <div class="os-host os-host-foreign os-theme-spotify os-host-resize-disabled os-host-scrollbar-horizontal-hidden main-view-container__scroll-node os-host-transition os-host-overflow os-host-overflow-y">
            <div class="os-resize-observer-host observed">
                <div class="os-resize-observer" style="left: 0px; right: auto"></div>
            </div>
            <div class="os-padding">
                <div class="os-viewport os-viewport-native-scrollbars-invisible"
                     style="overflow-y: scroll">
                    <div class="os-content"
                         style="padding: 0px; height: 100%; width: 100%">
                        <div class="main-view-container__scroll-node-child-spacer"></div>
                        <div class="main-view-container__scroll-node-child"
                             style="min-height: calc(((100vh - 64px) - 90px) - 519px)">
                            <main tabindex="-1"
                                  aria-label="Spotify – Danh sách phát của tôi #12">
                                <div class="GlueDropTarget GlueDropTarget--tracks GlueDropTarget--local-tracks GlueDropTarget--episodes GlueDropTarget--albums">
                                    <section role="presentation"
                                             class="dZ3U5sTGUTdanNamXe1z"
                                             data-testid="playlist-page"
                                             data-test-uri="spotify:playlist:3vbggz5ofJQZNFPzcLN0OY">
                                        <div class="rezqw3Q4OEPB1m4rmwfw">
                                            <div class="CoLO4pdSl8LGWyVZA00t"
                                                 style="background-color: rgb(83, 83, 83)"></div>
                                            <div class="os-host os-host-foreign os-theme-spotify os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-scrollbar-vertical-hidden os-host-transition">
                                                <div class="os-resize-observer-host observed">
                                                    <div class="os-resize-observer"
                                                         style="left: 0px; right: auto"></div>
                                                </div>
                                               
                                                <div class="os-content-glue"
                                                     style="margin: 0px; height: 80px; width: 1294px"></div>
                                                <div class="os-padding">
                                                    <div class="os-viewport os-viewport-native-scrollbars-invisible">
                                                        <div class="os-content"
                                                             style="padding: 0px; height: auto; width: 100%">
                                                            <div class="E4q8ogfdWtye7YgotBlN contentSpacing">
                                                                <div class="eSg4ntPU2KQLfpLGXAww"
                                                                     data-testid="action-bar-row">
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
                                                    <div class="os-scrollbar-track os-scrollbar-track-off">
                                                        <div class="os-scrollbar-handle"
                                                             style="
                                width: 100%;
                                transform: translate(0px, 0px);
                              "></div>
                                                    </div>
                                                </div>
                                                <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-unusable os-scrollbar-auto-hidden">
                                                    <div class="os-scrollbar-track os-scrollbar-track-off">
                                                        <div class="os-scrollbar-handle"
                                                             style="
                                height: 100%;
                                transform: translate(0px, 0px);
                              "></div>
                                                    </div>
                                                </div>
                                                <div class="os-scrollbar-corner"></div>
                                            </div>
                                            <div class="contentSpacing">
                                                <section class="Ykd_JWqkR9gSLHISDBwP">
                                                    <div class="g9xHCCSXDR8S5NvTbfwL">
                                                        <h1 class="Type__TypeElement-goli3j-0 bcTfIx SMJIXlalPk_TESlyt2pC">
                                                            Hãy đặt tên cho danh sách phát của bạn
                                                        </h1>
                                                        <form action="/QLBH/ThemPlaylist" method="post">
                                                            <input type="text" value="" placeholder="nhập tên danh sách của bạn" name="tenPL" required
                                                                   style="" />
                                                            @ViewBag.eror
                                                            <button type="submit">Thêm</button>
                                                        </form>
                                                    </div>
                                                   
                                                </section>
                                                <div class="sAPXlA_oxu_8x1Cn0NTC"
                                                     data-testid="playlist-inline-curation-results">
                                                    <div class="_Z2TnFjt8GB5ryOtvyti"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </main>
                        </div>
                        <div class="main-view-container__mh-footer-container">
                            <div class="footerContentSpacing">
                                <div data-testid="grid-container"
                                     class="iKwGKEfAfW7Rkx2_Ba4E"
                                     style="
                    --column-width: 185px;
                    --column-count: 6;
                    --grid-gap: 24px;
                  "></div>
                            </div>
                            <nav data-testid="footer-div"
                                 class="Footer__StyledFooter-sc-xwm5vq-0 cASFVN">
                                <div class="Footer__TopSection-sc-xwm5vq-1 gFNFTZ">
                                    <div class="Footer__StyledTopLinks-sc-xwm5vq-2 tENXN"></div>
                                </div>
                                <hr class="HorizontalRule__HorizontalRuleElement-sc-198gjx4-0 dIIeNs Footer__Line-sc-xwm5vq-3 fPuANY" />
                                <div class="Footer__StyledBottomLinks-sc-xwm5vq-4 kgThxK"></div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable">
                <div class="os-scrollbar-track">
                    <div class="os-scrollbar-handle"
                         style="width: 100%; transform: translate(0px, 0px)"></div>
                </div>
            </div>
            <div class="os-scrollbar os-scrollbar-vertical">
                <div class="os-scrollbar-track">
                    <div class="os-scrollbar-handle"
                         style="height: 63.3873%; transform: translate(0px, 184.748px)"></div>
                </div>
            </div>
            <div class="os-scrollbar-corner"></div>
        </div>
    </div>
    <div class="Root__modal-slot"></div>
</div>


